.Nav {
  colour: var(--text);
  background: var(--background);
}

.Nav-header {
}

.NavigationList {
  display: flex;  
  list-style-type: None;
  margin: 0;
  padding-left: 0;
}

.NavTitle {
  margin: 0.5rem;
}

.NavItem {
  color: var(--primary);
  background: var(--primary);
  margin: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.NavItem a:link {
  text-decoration: none;
  color: var(--primary)
}

.NavItem a:visited {
  text-decoration: none;
  color: var(--primary)
}
