@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--text);
}

:root[data-theme="light"] {
  --text: #050a07;
  --background: #ffffff;
  --primary: #41c86e;
  --secondary: #86e9a7;
  --accent: #49e97e;
}
:root[data-theme="dark"] {
  --text: #f5faf7;
  --background: #000000;
  --primary: #37be64;
  --secondary: #167937;
  --accent: #16b64b;
}

